<!DOCTYPE html>
<html>

<head>
    <title>404 Page</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>{{error_message}}</p>
    </div>


    {{>footer}}

</body>

</html>