<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">

        {{>header}}
        <p>Data used from mapbox.com for get latitude and longitude for user location. It also uses weatherstack.com api
            to get live weather data</p>
        <img class="portrait" src="./img/copy2.JPG">

    </div>


    {{>footer}}

</body>

</html>